<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">Lienzo Urbano</h1>

                <button class="btn btn-primary btn-round" type="button">
                    <i class="tim-icons icon-heart-2"></i> ¿Quiénes somos?
                </button>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <h3 class="title">Síguenos</h3>
                <div class="btn-wrapper profile">
                    <a target="_blank" href="https://twitter.com/" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Síguenos en Twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a target="_blank" href="https://www.facebook.com/" class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Danos Like en Facebook">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a target="_blank" href="https://instagram.com/" class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip" data-original-title="Síguenos en Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>