<div class="landing-page">
    <div class="wrapper animated fadeInDown">
        <div class="page-header">
            <img src="assets/img/blob.png" class="path">
            <img src="assets/img/path2.png" class="path2">
            <img src="assets/img/triunghiuri.png" class="shapes triangle">
            <img src="assets/img/waves.png" class="shapes wave">
            <img src="assets/img/patrat.png" class="shapes squares">
            <img src="assets/img/cercuri.png" class="shapes circle">
            <div class="content-center">
                <div class="row row-grid justify-content-between align-items-center text-left">
                    <div class="col-lg-6 col-md-6">
                        <h1 class="text-white">
                            Lienzo Urbano
                        </h1>
                        <p class="text-white mb-3">Lienzo Urbano es una plataforma digital de de difusión de arte urbano, desarrollada de forma altruista para mejorar las ciudades del mundo</p>
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <img src="assets/img/logo.png" alt="Circle image" class="img-fluid rounded-circle">
                    </div>
                </div>
            </div>
        </div>
        <section class="section section-lg">
            <section class="section">
                <img src="assets/img/path4.png" class="path">
                <div class="container">
                    <div class="row row-grid justify-content-between">
                        <div class="col-md-5 mt-lg-5">
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 px-2 py-2">
                                    <div class="card card-stats ">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5 col-md-4">
                                                    <div class="icon-big text-center icon-warning">
                                                        <i class="tim-icons icon-trophy text-warning"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8">
                                                    <div class="numbers">
                                                        <p class="card-title">Subir</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 px-2 py-2">
                                    <div class="card card-stats upper bg-default">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5 col-md-4">
                                                    <div class="icon-big text-center icon-warning">
                                                        <i class="tim-icons icon-coins text-white"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8">
                                                    <div class="numbers">
                                                        <p class="card-title">Explorar</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 px-2 py-2">
                                    <div class="card card-stats ">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5 col-md-4">
                                                    <div class="icon-big text-center icon-warning">
                                                        <i class="tim-icons icon-gift-2 text-info"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8">
                                                    <div class="numbers">
                                                        <p class="card-title">Hablar</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-sm-12 px-2 py-2">
                                    <div class="card card-stats ">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-5 col-md-4">
                                                    <div class="icon-big text-center icon-warning">
                                                        <i class="tim-icons icon-credit-card text-success"></i>
                                                    </div>
                                                </div>
                                                <div class="col-7 col-md-8">
                                                    <div class="numbers">
                                                        <p class="card-title">Pintar</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pl-md-5">
                                <h1>
                                    ¿Cómo
                                    <br> Funciona?
                                </h1>
                                <ul class="list-unstyled mt-5">
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="icon icon-success mb-2">
                                                <i class="tim-icons icon-vector"></i>
                                            </div>
                                            <div class="ml-3">
                                                <h6> Los artistas le toman una foto a su arte (boceto o real) y la suben a la plataforma junto con una descripción
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="icon icon-success mb-2">
                                                <i class="tim-icons icon-tap-02"></i>
                                            </div>
                                            <div class="ml-3">
                                                <h6> Cualquier persona puede explorar el catálogo de arte, comentar las obras, seguir artistas, participar en subastas, etc.
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="py-2">
                                        <div class="d-flex align-items-center">
                                            <div class="icon icon-success mb-2">
                                                <i class="tim-icons icon-single-02"></i>
                                            </div>
                                            <div class="ml-3">
                                                <h6> Si a una persona le interesa plasmar en su propiedad la obra de algún artista, pueden ponerse en contacto para acordar cómo, cuándo y dónde se perpetuará el arte.
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="section section-lg section-safe ">
            <img src="assets/img/path5.png" class="path">
            <div class="container">
                <div class="row row-grid justify-content-between">
                    <div class="col-md-5">
                        <img src="assets/img/chester-wade.jpg" class="img-fluid floating">
                        <div class="card card-stats bg-danger">
                            <div class="card-body">
                                <div class="justify-content-center">
                                    <div class="numbers">
                                        <p class="card-title">100%</p>
                                        <p class="card-category text-white">Gratis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats bg-info">
                            <div class="card-body">
                                <div class="justify-content-center">
                                    <div class="numbers">
                                        <p class="card-title">Explora</p>
                                        <p class="card-category text-white">Nuevos horizontes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats bg-default">
                            <div class="card-body">
                                <div class="justify-content-center">
                                    <div class="numbers">
                                        <p class="card-title">Crea</p>
                                        <p class="card-category text-white">Nuevas experiencias</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="px-md-5">
                            <hr class="line-success">
                            <h3>Comparte tu creatividad</h3>
                            <p>Lienzo Urbano te permite dar a conocer tu arte y transformar tu ciudad con ingenio y creatividad</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg section-coins ">
            <img src="assets/img/path3.png" class="path">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <hr class="line-info">
                        <h1>¿Quiénes se
                            <span class="text-info">benefician</span>?
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-coin card-plain">
                            <div class="card-header">
                                <img src="assets/img/bitcoin.png" class="img-center img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4 class="text-uppercase">Personas</h4>
                                        <hr class="line-primary">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Tu propiedad está vandalizada, fea, o simplemente quieres que se vea diferente a las demás?
                                        </li>
                                        <li class="list-group-item">
                                            Con LU puedes tener fácilmente una obra de arte en la pared de tu casa por un precio muy razonable al mismo tiempo que fomentas el arte y la cultura en tu ciudad.
                                        </li>
                                        <li class="list-group-item">
                                            Sé original y haz que tu casa represente tu personalidad
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-coin card-plain">
                            <div class="card-header">
                                <img src="assets/img/etherum.png" class="img-center img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4 class="text-uppercase">Artistas</h4>
                                        <hr class="line-success">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            ¿Te gusta expresarte con el arte urbano pero es difícil conseguir un lienzo?
                                        </li>
                                        <li class="list-group-item">
                                            ¿Te gustaría aprovechar tu talento y poder plasmar tu arte por toda la ciudad mientras ganas un poco de dinero y te das a conocer?
                                        </li>
                                        <li class="list-group-item">
                                            Con LU las personas interesadas en tu arte se podrán poner en contacto contigo, te proporcionarán el lienzo y los recursos necesarios para que puedas expresar tus ideas.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-coin card-plain">
                            <div class="card-header">
                                <img src="assets/img/ripp.png" class="img-center img-fluid">
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4 class="text-uppercase">La ciudad</h4>
                                        <hr class="line-info">
                                    </div>
                                </div>
                                <div class="row">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Las ciudades actuales, suelen estar vandalizadas, generando un ambiente tóxico para sus habitantes.
                                        </li>
                                        <li class="list-group-item">
                                            Las ciudades repletas de arte y cultura, atraen turismo y fomenta a muchas personas a expresarse y redirigir su energía a actividades culturales y artísticas.
                                        </li>
                                        <li class="list-group-item">
                                            Está comprobado que una pared con algún tipo de arte representada, se mantiene más tiempo sin ser vandalizada que una pared normal, esto sucede por el respeto que la mayoría de las personas tienen hacia algo con atractivo visual.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <app-back></app-back>