<div class="wrapper">

    <div class="page-header header-filter">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>
        <div class="squares square8"></div>

        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo">Lienzo Urbano</h1>
                <h3>
                    Transforma tu ciudad.
                </h3>
                <button *ngIf="!session" data-toggle="modal" data-target="#loginModal" class="btn btn-warning">
                    <i class="fas fa-user-astronaut"></i> Ingresar
                </button>
            </div>
        </div>
    </div>

    <div class="main">
        <app-login></app-login>
        <div class="section section-javascript" id="javascriptComponents">
            <div class="section">
                <div class="container">
                    <div class="title">
                        <h3>Arte Urbano</h3>
                    </div>
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-5 mb-5 mb-lg-0 ">
                            <h1 class="text-white font-weight-light">Categorías</h1>
                            <p class="text-white mt-4">El arte urbano puede ser catalogado de diverdad formas</p>
                        </div>
                    </div>
                    <div class="card-columns">
                        <app-category *ngFor="let x of categories"></app-category>
                    </div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#link" aria-label="Previous">
                                <span aria-hidden="true"><i class="tim-icons icon-double-left" aria-hidden="true"></i></span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#link">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#link">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#link">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#link" aria-label="Next">
                                <span aria-hidden="true"><i class="tim-icons icon-double-right" aria-hidden="true"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>