<li data-toggle="collapse" class="nav-item p-0 clickable" [swal]="swal">
    <a class="nav-link" rel="tooltip" title="Buscar obra de arte o artista">
        <i class="fas fa-search"></i> Búsqueda
    </a>
</li>

<swal #swal background="#242C45" showCloseButton="true" showConfirmButton>
    <div *swalPortal>
        <div *ngIf="!register">
            <div class="modal-header justify-content-center">
                <div class="text-muted text-center ml-auto mr-auto">
                    <h3 class="mb-0">Busca una obra de arte</h3>
                </div>
            </div>
            <div class="modal-body">
                <input #word class="form-control" placeholder="Búsqueda" type="text">
                <app-artworks *ngIf="word.value.length" [type]="'searchArtWork'" [id]="word.value"></app-artworks>
            </div>
        </div>
    </div>
</swal>